{
  "rules": {
    "eqeqeq": [2],
    "indent": [2, 2, {"SwitchCase": 1}],
    "jsx-quotes": [2, "prefer-double"],
    "quotes": [2, "single", "avoid-escape"],
    "semi": [2, "always"],
    "import/default": [2],
    "import/export": [2],
    "import/named": [2],
    "import/namespace": [2],
    "import/no-errors": [2, "include-messages"],
    "import/no-named-as-default": [2],
    "import/no-require": [2],
    "import/no-unresolved": [2],
    "react/jsx-no-duplicate-props": [2],
    "react/jsx-no-undef": [2],
    "react/jsx-uses-react": [2],
    "react/jsx-uses-vars": [2],
    "react/no-direct-mutation-state": [2],
    "react/no-unknown-property": [2],
    "react/prop-types": [2],
    "react/react-in-jsx-scope": [2],

    "linebreak-style": [1, "unix"],
    "prefer-const": [1],
    "no-var": [1],

    "strict": [0],
    "no-console": [0],
    "comma-dangle": [0]
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": "eslint:recommended",
  "ecmaFeatures": {
    "jsx": true,
    "modules": true,
    "classes": true
  },
  "plugins": [
    "react",
    "import"
  ],
  "parser": "babel-eslint",
  "settings": {
    "import/parser": "babel-eslint"
  }
}
